<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> My website	</title>
	</head>
	<body>
		{{> header }}
		<h2> {{ screamItwelcomeMsg }} </h2>
		<p> .......... </p>
		{{> footer}}
	</body>
</html>